<div class="form-container">
  <div class="form-group">
    <label class="label" for="dnaInput">Secuencia de ADN:</label>
    <textarea id="dnaInput" class="textarea" [(ngModel)]="dnaInput" placeholder="Ingrese la secuencia de ADN"></textarea>
  </div>
  <button class="button" (click)="detectMutant()">Detectar Mutante</button>
  <div class="result-container" *ngIf="isMutantResult !== null">
    <p class="result-message" *ngIf="isMutantResult">El humano es mutante.</p>
    <p class="result-message" *ngIf="!isMutantResult">El humano no es mutante.</p>
  </div>
</div>
